<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        body {
            background-color: hsl(175, 34%, 58%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
        }

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #26c0b8;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
       
        </style>
</head>
<body >

    <a href="{% url 'addNew_url' %}"><button>add Detail</button></a>
    <a href="{% url 'view_url' %}"><button>View Detail</button></a>
    <a href="{% url 'index_url' %}"><button>index</button></a>

    {% block my%}
    
    
    
        {% endblock %}
   



</body>
</html>